[package]
name = "magi"
version = "0.1.0"
edition = "2021"

[dependencies]
tokio = { version = "1.25.0", features = ["full"] }
futures = "0.3.26"
eyre = "0.6.8"
ethers = "1.0.2"
hex = "0.4.3"
libflate = "1.2.0"

# Logging Telemetry
chrono = "0.4.22"
tracing = "0.1.36"
ansi_term = "0.12.1"
tracing-log = "0.1.3"
tracing-bunyan-formatter = "0.3.4"
tracing-subscriber = { version = "0.3.16", features = ["fmt", "env-filter", "ansi"] }