---
version: "3.4"
x-logging: &logging
  logging:
    driver: json-file
    options:
      max-size: 10m
      max-file: "3"

services:
  op-geth:
    image: us-docker.pkg.dev/oplabs-tools-artifacts/images/op-geth:v1.11.2-13ee9ab
    container_name: op-geth
    profiles:
      - default
      - no-magi
    restart: unless-stopped
    stop_grace_period: 3m
    entrypoint: /scripts/start-op-geth.sh
    env_file:
      - .env
    ports:
      - 8551:8551
      - 8545:8545
      - 8546:8546
    volumes:
      - ./:/scripts
      - data:/data
    <<: *logging

  magi:
    image: noah7545/magi:latest
    container_name: magi
    build:
      dockerfile: Dockerfile
      context: ../
    profiles:
      - default
    restart: unless-stopped
    stop_grace_period: 3m
    entrypoint: /scripts/start-magi.sh
    env_file:
      - .env
    ports:
      - 9200:9200
    volumes:
      - ./:/scripts
      - data:/data
    <<: *logging

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    profiles:
      - default
    ports:
      - 9090:9090
    command:
      - --config.file=/etc/prometheus/prometheus.yml
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    <<: *logging

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    profiles:
      - default
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - --path.procfs=/host/proc
      - --path.rootfs=/rootfs
      - --path.sysfs=/host/sys
      - --collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)
    expose:
      - 9100

  grafana:
    image: grafana/grafana
    container_name: grafana
    profiles:
      - default
    ports:
      - "3000:3000"
    volumes:
      - ./grafana/provisioning/:/etc/grafana/provisioning/:ro
    environment:
      - GF_SECURITY_ADMIN_USER=magi
      - GF_SECURITY_ADMIN_PASSWORD=op
      - GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH=/etc/grafana/provisioning/dashboards/dashboard.json

volumes:
  scripts:
  data:
